# Visual Studio
.vs/
*.suo
*.user
*.pdb
*.obj
*.o
*.ncb
*.scc
*.userprefs
*.vssscc
*.vssscc
*.userprefs
*.vspscc
# NuGet packages
packages/
# Binaries
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
# Test results
TestResults/
# Resharper
_ReSharper.*/
*.ReSharper.user
# Other
*~
# Logs
*.log